/*All content/heading text styles*/
span.contrast {
    color: #9B86A4;
    font-weight:bold;
}


/* ---Logo styles for both the light and contrasting logo component---*/

/*logo light component styles*/
.logo-light {
    font-weight: 100;
}
.logo-contrast {
    color:black;
}

/*logo contrast component styles WHEN COLLAPSED and when screen is narrow */
.navbar-brand-collapsed span.logo-contrast {
   color: #9B86A4;
}

@media(max-width:768px) {
    span.logo-contrast {
    color: #9B86A4;
    }
}

/* Transitions for all logo background changes */
.navbar-brand span.logo-contrast {
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

/*---Navbar styles (includes upright and collapsed versions) ---*/

/*Navbar constant/baseline styles*/
.navbar-custom {
    margin-bottom: 0;
    /*border-bottom: 1px solid rgba(255,255,255,.3);*/
    text-transform: uppercase;
    font-family: 'Expletus Sans', cursive;
    font-weight: bold;
    background-color: #000000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #FFFFFF;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #FFFFFF;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-fixed-top a {
   background-color: transparent;
}


/* Transitions for all link background changes */
.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

/*EFFECT: Navigator bar in UPRIGHT position -----*/

/*Hovering over SELECTED menu option*/
:not(.top-nav-collapse) .nav li.active a:hover {
    /*Color of font being hovered over*/
    color: black;
    /*BG color of menu option being hovered over*/
    background-color: transparent;
}

/*Hovering over ANY menu option */
:not(.top-nav-collapse) .nav li a:hover {
    outline: 0;
    /*Color of font being hovered over*/
    color: black;
    /*BG color of menu option being hovered over*/
    background-color: transparent;
}


/*EFFECT: Navigator bar in COLLAPSED position -----*/

/*Hovering over SELECTED menu option*/
.top-nav-collapse .nav li.active a:hover {
    /*Color of font being hovered over*/
    color: black;
    /*BG color of menu option being hovered over*/
    background-color: #9B86A4;
}

/*Hovering over ANY menu option */
.top-nav-collapse .nav li a:hover {
    outline: 0;
    /*Color of font being hovered over*/
    color: black;
    /*BG color of menu option being hovered over*/
    background-color: #9B86A4;
}

/*BG color of selected menu option*/
.top-nav-collapse .nav li.active a {
    background-color: #634271;
}

/*EFFECT: Navbar collapse -----*/
@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

/*all links: */
a:focus {
    text-decoration: none;
}